

body{
	background-color: rgb(234, 232, 170)
	background-color: palegoldenrod;
	background-color: #EAA910;
	color: white;

}

h1{
	color: :white:
	font-family: Helvetica, Arial, sans-serif
	font-size 60px;
	font-style: italic;

}
a
	../*color:black;*/
}

title{
	font-family: Helvetica
	font-size: 100px;
	font-style: bold;
}

.abc{
    color: white;
    font-size: 20px;

  }