

body{
	background-color: steelblue;
	color: white;
}

title{
	font-family: Helvetica
	font-size: 100px;
	font-style: bold;
}

.main-container{
	text-align: center;
	border-color: silver;
	border-width: 4px;
	font-size: 25px;
}
  
 .bio{
 	color: white;
    font-size: 20px;
    font-family: Arial;
 }

 .smaller-image{
 	width: 20%;
 	margin: 4px;
 }
